@model EmployeeViewModel
@inject IUnitOfWork unitOfWork
@{
    var departments = new SelectList(await unitOfWork.DepartmentRepository.GetAll(), "Id", "Name");
}
<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Age"></label>
    <input class="form-control" asp-for="Age" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Salary"></label>
    <input class="form-control" asp-for="Salary" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Address"></label>
    <input class="form-control" asp-for="Address" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input class="form-control" asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input class="form-control" asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Department"></label>
    <select class="form-control" asp-items="@departments" asp-for="DepartmentId">
        <option value="@null">----- select Department -----</option>
    </select>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="HireDate"></label>
    <input class="form-control" asp-for="HireDate" />
    <span asp-validation-for="HireDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="image"></label>
    <input class="form-control" asp-for="image" />
    
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="IsActive"></label>
    <input class="form-control" asp-for="IsActive" />
    <span asp-validation-for="IsActive" class="text-danger"></span>
</div>