@model UserViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit User</h1>
<br />
<br />
<form asp-action="Edit">
    <div asp-validation-summary="All"></div>

    <partial name="PartialViews/_CreateEditPartialView" />

    <input type="submit" value="Save" class="btn btn-primary" /> ||
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</form>
@section ValidationScriptSection
    {
    <partial name="_ValidationScriptsPartial" />
}

